@charset "UTF-8";

/* 
    em HTML o que é id    = em CSS é # (só um elemento)
    em HTML o que é class = em CSS é . (vários elementos)
*/

body{
    background-color: rgb(174, 255, 174);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(2, 100, 2);

}

h1#principal {
    text-align: center;
    background-color: rgb(2, 100, 2);
    color: white;
}

h2{
    color: rgb(39, 134, 39);
}