@charset "UTF-8";

/* Configurações para celular */

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}

header h1{
    text-align: center;
    background-color: gray;
    padding: 10px;
}

menu{
    display: none;
}

i{
    background-color: rgb(65, 65, 65);
    color: white;
    width: 100vw;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid black;
}

i:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

a{
    display: block;
    background-color: rgb(65, 65, 65);
    color: white;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid black;
    padding: 10px; 
    font-weight: bold;

}

a:hover{
    background-color: gray;
    text-decoration: underline;
    transition: 0.3s;
}

main{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 90vw;
}

main h2{
    padding-bottom: 20px;
}

main p{
    text-indent: 30px;
    margin-bottom: 20px;
}

script{
    background-color: lightgray;
}