@charset "UTF-8";

/* Configurações para demais mídias*/

/* Typical Device Breakpoints
-----------------------------
Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more.
*/

@print{ /* IMPRESSORA */
    body{
        background-image: url('../imagens/back-print.jpg')
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){ /* TABLETS */
    body{
        background-image: url('../imagens/back-tablet.jpg');
    }

    img#phone{display:  none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 1025px) and (max-width: 1200px){ /* DESKTOP */
    body{
        background-image: url('../imagens/back-pc.jpg')
    }

    img#phone{display:  none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}

@media screen and (min-width: 1201px){ /* TVS */
    body{
        background-image: url('../imagens/back-tv.jpg');
    }

    img#phone{display:  none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
}