@charset "UTF-8";

/* Configurações para Mobile First*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    width: 100vw;
    height: 100vh;
}

body{
    background-color: black;
    background-image: url('../imagens/back-phone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h1{
    font-size: 2em;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.49);
}

main{
    width: 400px;
    background-color: rgba(255, 255, 255, 0.711);
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
}

img{
    margin: auto;
}

img#phone{display:  block;}
img#tablet{display: none;}
img#print{display: none;}
img#pc{display: none;}
img#tv{display: none;}