@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}

:root{
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --font-androide: 'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: ' \1f517'
}

main{
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 1px 1px 10px  rgba(0, 0, 0, 0.505);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor6));
    max-height: 150px;
    padding-top: 40px;
    text-align: center;
    
}

header > h1{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.316);
}

header > p{
    color: white ;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.316);
    padding: 10px;
    max-width: 600px;
    margin: auto;
}

nav{
    background-color: var(--cor6);
    text-decoration: none;
    padding: 10px
}

nav a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    color: var(--cor6);
    background-color: var(--cor4);
    border-radius: 5px;
    transition-duration: .5s;
}


h1{
    font-family: var(--font-androide);
    color: var(--cor6);
}

h2{
    font-family: var(--font-androide);
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 10px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1.1em;
}

main strong{
    color: var(--cor6);
    font-weight: bolder;
}

main a{
    text-decoration: none;
    color: var(--cor5);
    background-color: var(--cor2);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main img{
    display: block;
    margin: auto;
    width: 100%;
}

.pequeno{
    display: block;
    margin: auto;
    max-width: 350px;
}

.video{
    position: relative;
    background-color: var(--cor6);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 55%;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 88%;
    width: 86%;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.478);
}

aside h3{
    background-color: var(--cor6);
    color: white;
    margin: -10px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul{
    list-style-type: '\2714\0020\0020';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor6);
    color: white;
    font-size: .8em;
    text-align: center;
    padding: 6px;
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

footer a:hover{
    text-decoration: underline;

}