@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}

:root{
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --font-androide: 'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

main{
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 1px 1px 10px  rgba(0, 0, 0, 0.505);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header{
    background-color: var(--cor4);
}

header > h1{
    font-family: var(--fonte-destaque);
    color: white;
}

header > p{
    color: white ;
}

nav{
    background-color: #063d1e;
    text-decoration: none;
}

nav a{
    color: var(--cor3);
    text-decoration: none;
    padding-right: 10px;
}


h1{
    font-family: var(--font-androide);
    color: var(--cor6);
}

h2{
    font-family: var(--font-androide);
}

main img{
    display: block;
    margin: auto;
    width: 100%;
}

.pequeno{
    display: block;
    margin: auto;
    width: 50%;
}

footer{
    background-color: #063d1e;
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
}